body {
	background: url(dice.jpg);
	background-size: cover;
}

#main {
	text-align: center;
	padding-bottom: 3em;
}

.submit {
	background-color: white;
	color: black;
	border: 2px solid #555555;
	padding: 16px 32px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}

.submit:hover {
	background-color: #555555;
	color: white;
}

label {
	font-size: 2em;
}

.betAmt {
	height: 2em;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
}

caption {
	font-size: 2.5em;
	font-weight: bold;
	text-decoration: underline;
}

th {
	background-color: darkgrey;
}

th, td {
	text-align: left;
    padding: 8px;
    border-bottom: 1px solid
}

tr:hover {
	background-color:#f5f5f5
}