#navigation {
	padding-left: 20px;
	font-size: 150%;
}

#restaurantName {
	font-family: 'Abril Fatface', cursive;
	display:flex;
	justify-content:center;
}

body {
	background-color: #FDF3E7;
}

header, footer {
	background-color: white;
}

a {
	margin-right: 5px;
}

a:visited {
	color: red;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

footer {
	position: absolute;
	bottom:0;
	right: 0;
	left: 0;
	text-align: center;
	height: 70px;
}