#navigation {
	padding-left: 20px;
	font-size: 125%;
}

#restaurantName {
	font-family: 'Abril Fatface', cursive;
}

body {
	background-color: #dddfd4;
}

a {
	margin-right: 5px;
	font-size: 1.5em;
}

a:visited {
	color: #173e43;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

