form {
	margin: 0 auto;
	width:600px;

	padding: 1em;
	border:1px solid #CCC;
	border-radius: 1em;
}

form div + div {
	margin-top: 1em;
}

label {
	display: inline-block;
	width: 200px;
	text-align: right;
}

input, textarea {
	font: 1em sans-serif;

	/*width:10px;*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 1px solid #999;
}

input:focus, textarea:focus {
	border-color:#000;
}

textarea {
	width:200px;
	vertical-align: top;
	height: 5em;
	resize: vertical;
}

.button {
	padding-left: 200px;
}
button {
	margin-left: .5em;
}