#navigation {
	padding-left: 20px;
	font-size: 150%;
}

main {
	margin: 0 auto;
	width:1400px;
	padding: 1em;
	font: sans-serif;
}

a {
	margin-right: 5px;
}

form {
	margin: 0 auto;
	width:800px;
	padding: 1em;
}

form div + div {
	margin-top: 1em;
}

label {
	display: inline-block;
	width: 250px;
	text-align: right;
}

input, textarea {
	font: 1em sans-serif;
	border: 1px solid #999;
}

input:focus, textarea:focus {
	border-color:#000;
}

textarea {
	width:300px;
	vertical-align: top;
	height: 5em;
	resize: vertical;
}

footer {
	position: absolute;
	bottom:0;
	right: 0;
	left: 0;
	text-align: center;
}

.button {
	padding-left: 250px;
}
button {
	margin-left: .5em;
}