#navigation {
	padding-left: 20px;
	font-size: 150%;
}

a {
	margin-right: 5px;
}

main {
	margin: 0 auto;
	width:1400px;
	padding: 1em;
	font: sans-serif;
}

#title {
	display: flex;
	justify-content: center;
	vertical-align: top;
	font-size: 175%;
	font-weight: bold;
}

#description {
	display: flex;
	justify-content: center;
	vertical-align: top;
	font-size: 110%;
}

footer {
	position: absolute;
	bottom:0;
	right: 0;
	left: 0;
	text-align: center;
}