#navigation {
	padding-left: 20px;
	font-size: 150%;
}

#restaurantName {
	display:flex;
	justify-content:center;
}

#image {
	display:flex;
	justify-content:center;
}

a {
	margin-right: 5px;
}

#description {
	margin: 0 auto;
	width:600px;
	padding: 1em;
	text-align: center;
	font-size:125%;
	font:sans-serif;
}

footer {
	position: absolute;
	bottom:0;
	right: 0;
	left: 0;
	text-align: center;
}