#header {
	border-bottom: 1px;
	border-color: black;
	border-bottom-style: solid;
}

#title1, #title2 {							/*Makes size of titles of different sections consistent and makes them bold*/
	font-size: 125%;
	font-weight: bold;
}

#albumName {						/*#albumName, bandName and releaseDate just sets font size for top section*/
	font-size: 175%;
	font-weight: bold;
	font-family: 'Pacifico', cursive;
}

#albumPicture {
	margin: 0 auto;
	height: 475px;
	width: 450px;
}

#title1 {
	font-family: 'Pacifico', cursive;
}

#bandName {
	font-size: 150%;
}

#releaseDate {
	font-size: 125%
}

#bandMembers {
	font-style: italic;
}

p {
	text-align: center;
}

body {
	background-color: lightgrey;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #00ffcc; 
}

ul {								/*aligns band member list with table, and leaves a slight margin on side of page*/
	width: 90%;
	margin: 0 auto;
}

table {								/*aligns table with list and makes it so adjacent table cells share borders*/
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 25px;
}

td {
	font-style: italic;
}

th, td {							/*Centers text in table makes rows slightly larger for astetics*/
	padding: 8px;
	text-align: center
}

tr:nth-child(even){background-color: #f2f2f2;} 	/*Sets the even cells to a light grey color*/
tr:nth-child(odd){background-color:white;}

th {								/*Makes it so column title cells are grey with white text and all odd cells are white*/
	background-color: grey;
	color: white;
}