#navigation {
	padding-left: 20px;
	font-size: 150%;
}

#restaurantName {
	font-family: 'Abril Fatface', cursive;
	justify-content:center;
}

body {
	background-color: #dddfd4;
}

#header, #footer, #main { 
	position:absolute;
}

#header {
	height:140px; 
	top:10px;
	right:10px;
	left:10px;
	background-color: #fae596;
	border-bottom: 3px;
	border-bottom-style: solid;
	border-right: 3px;
	border-right-style: solid;
	border-color: darkgrey;
	border-radius: 1em;
}

#footer {
	margin-top: 0;
	height:80px; 
	bottom:10px;
	right:10px;
	left:10px;
	text-align: center;
	background-color: #3fb0ac;
	border-top: 2px;
	border-top-style: solid;
	border-right: 2px;
	border-right-style: solid;
	border-color: darkgrey;
	border-radius: 1em;
}

#main {
	top:155px;
	bottom:95px;
	right:0;
	left:0;
	background-color: #dddfd4;
	overflow: auto;
}

a {
	margin-right: 5px;
}

a:visited {
	color: #173e43;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}