#navigation {
	padding-left: 20px;
	font-size: 150%;
}

#restaurantName {
	display:flex;
	justify-content:center;
}

a {
	margin-right: 5px;
}

footer {
	position: absolute;
	bottom:0;
	right: 0;
	left: 0;
	text-align: center;
}